
/*page setup*/

body {
	font-family: "Helvetica Neue";
	font-style: normal;
	font-size: 11pt;
    min-height: 1000px;
    min-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

#allFilters {
    width: 100%;
    height: 10%;
    float: left;
    clear: right;
    padding-left: 20px;
    padding-top: 5px;
}

/*#sankeyChart, #innovationImpactChart, #impactApproachChart {*/
#allCharts {
    width: 70%;
    height: 80%;
    float: left;
    clear: right;
    margin-right: 3%;
    margin-left: 3%;
}

#listItems {
    width: 20%;
    height: 80%;
    float: left;
    clear: right;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

#NumberOfProjects {
    width:20%;
    float:left;
    vertical-align: center;
}

 #NumberOfProjects p {
    text-align: center;
    background: #002145;
    color: white;
}

#projectList {
    height: 80%;
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 5px;
}

.projectListItem {
	width:110%;
	font-size: 11pt;
}

/*.listitem {
	text-anchor:middle;
}*/

#project-table {
	width:100%;
    height: 30%;
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 5px;
}

.rowNotShaded{
    background: white;
}

.rowShaded{
    background: #dfdfdf;
}

div.tooltip, div.tooltip-inner {
	font-family: "Helvetica Neue";
	font-style: normal;
	font-size: 11pt;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;  
	position: absolute;
	text-align: center;
	min-width: 20px;
	max-width: 300px;
	height: auto;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 10px;
	padding-right: 10px;
	background: #ededed;
	border: 0.5px;
	border-radius: 8px;
	pointer-events: none;
	border-color: #d3d3d3;
}

/*for sankey chart*/

.node rect {
  cursor: move;
  fill-opacity: .9;	
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-size: 11pt;
}

.link {
  fill: none;
  stroke: #2F5D7C;
}

.heading {
	font-family: "Helvetica Neue";
	font-style: normal;
	font-size:20pt;
    fill: #002145;
}

#data-here{
  display:none;
}

/* for Heatmap */ 
.card rect{
	stroke: #ffffff;
	stroke-width:5px;   
}

.cardtext {
    fill: white;
    font-size: 27px;
    font-weight: bold;
    text-anchor: middle;
    alignment-baseline: central;
    opacity: 0.3;
}

.innovationLabel{
	color: #ff7f0e;
    text-align: center;
    alignment-baseline: central;
}

.impactLabel{
	color: #ff7f0e;
	text-align: center;
    alignment-baseline: central;
}

.approachLabel{
	color: #ff7f0e;
    text-align: center;
    alignment-baseline: central;
}

#data-here{
display:none;
}

.filter{
	float:left;
	width:auto;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 10px;
}

select { 
	width: auto;
	height: 25px;
    margin-left: 2px;
    padding-right: 4px;
    padding-left: 4px;
    border: 1px solid #002145;
    color: #002145;
    background: transparent;
}

select, input[type="button"] { 
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 4px;
}

input[type="button"] { 
    border: 1px solid white;
    width: auto;
    height: 30px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.clicked {
    background: #5E869F;
} 

.unclicked {
    background: #002145;
}

.small_button {
	font-size: 12pt;
    background: #002145;
}

.big_button {
	font-size: 14pt;
}

#chartTypeButtons {
    width: 100%;
    float: right;
    text-align: center;
    margin-top: 5px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background: #002145;
}